html {
    font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

.columnul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background-color: lightgrey;
}

.flex-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: cornflowerblue;
    margin: 10px;
}

.flex-item:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.legend-flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: lightgrey;
}

.legend-flex-item {
    background-color: cornflowerblue;
    width: 100%;
    margin: 10px;
}